node_modules
dist
build
.cache
*.log
.venv
venv
env
__pycache__
db.sqlite3
backend/db.sqlite3
frontend/node_modules
frontend/dist
frontend/build
.git
.DS_Store
*.pyc
*.sqlite3
migrations
**/migrations
