.project-list-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
}

.project-list-box {
    border: 2px solid #9370DB;
    border-radius:  10px;
    padding: 1rem 2rem;
    max-width: 200px;
    text-align: center;

}

.project-list-box-item{
    border-bottom: 1px solid #9370DB;
    margin-bottom: 20px;    
}

.project-description {
    font-size: small;
    color: gray;
} 

.project-title {
    cursor: pointer;
    transition: transform 0.3s;
}

.project-title:hover {
    color: #9370DB;
    transform: translate(0,2px);
}