
.pagination-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.pagination-buttons button {
    padding: 5px 11px;
    background-color: #9370DB; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.pagination-buttons button:hover {
    background-color: #7B68EE; 
}


.pagination-buttons button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
    opacity: 0.7;
}

.pagination-buttons span {
    color: #333;
    font-weight: 500;
}