.project-details-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.project-details-box {
    display: flex;
    flex-direction: column;
    border: 2px solid #9370DB;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
}


.project-detail-title {
    text-align: center;
    margin-top: 0; 
}

.project-details-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.project-details-content h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.project-details-members {
    grid-column: 1;
    text-align: center;
}

.project-details-description {
    grid-column: 2;
    text-align: center;
}

.project-details-chat {
    grid-column: 3;
    text-align: center;
}


/* Members */
.project-details-members{
    border: 1px solid #9370DB;
    border-radius: 10px; 
    padding-bottom: 10px;
}

.member-list{

    border-bottom: 1px solid #9370DB;
    width: 50%;
    
    margin: 0 auto; 
    padding-bottom: 5px; 
    margin-bottom: 15px;  
}



.member-list-name{
    cursor: pointer;
    transition: transform 0.3s;   
}

.member-list-name:hover {
    color: #9370DB;
    transform: translate(0,2px);
}

/* Options */

.project-details-options-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px; 

    border: 2px solid #9370DB;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    
    min-width: 200px;
    height: fit-content;
}
.project-details-option {
    margin: 5px 0;
    padding: 10px 15px;
    
    color: #555;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.project-details-option:hover {
    background-color: #f3e5f5;
    color: #9370DB;
    transform: translateX(5px);
}


.project-details-option.active {
    background-color: #9370DB;
    color: white;
}